<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">

<head>
    <thymeleaf th:replace="/base_templates/public/head :: head"/>
</head>


<body>
<div class="container">
    <thymeleaf th:replace="/base_templates/public/navbar :: navbar"/>


    <div class="jumbotron">

        <h2 style="text-align: center">Enter this key into the mobile app</h2>
        <br/>

        <p class="coolshadow" th:text="${unique_key} ?: _">Ops! Something went wrong. We've been notified and we'll get
            back to you as soon as possible.</p>

        <br/>
        <br/>
        <a href="/" class="btn btn-primary btn-lg">Done</a>

    </div>
</div>

<footer class="footer">
    <thymeleaf th:replace="/base_templates/public/footer :: footer"/>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script language="JavaScript" type="text/javascript" src="/js/main.js"/>

</body>
</html>






