<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>Spring Blog</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-blue.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Spring Blog</span>
        </div>
    </header>
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                <div th:if="${not #lists.isEmpty(posts)}">
                    <h2>Blog Posts...</h2>
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Date</th>
                        </tr>
                        <tr th:each="post: ${posts}">
                            <td th:text="${post.id}"></td>
                            <td th:href="${'/post/' + post.id}" th:text="${post.title}"></td>
                            <td th:text="${#strings.abbreviate(post.content,50)}"></td>
                            <td th:text="${post.publishedDate}"></td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>
    </main>
</div>
<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>
